#banner {
  width: 100vw;
  height: 620px;
  object-fit: cover;
  grid-area: banner;
}

body {
    grid-template-rows: 200px 620px 8fr minmax(150px, auto);
    grid-template-areas:
      "header"
      "banner"
      "main  "
      "footer";
}

section{
  display: flex;
  margin: 10em 0;
}

section h2{
  font-size: 1.8rem;
  color: var(--color-text-strong)
}

section p{
  margin: 1em 0;
  line-height: 2.2em;
  letter-spacing: .05em;
}

section .nota{
  margin-right: 2em;
}

section .nota,
section figure{
  width: 50%;
}

section figure *{
  width: 100%;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0 20px;
  }
  section{
    flex-direction: column;
  }
  
  section .nota,
  section figure{
    width: 100%;
  }

  section .nota{
    margin-left: 0;
    margin-bottom: 1em;
  }
}
