#login-modal .modal__title{
    color: var(--color-text-strong);
    margin-bottom: 1em;
}

#login-modal .modal__content{
    padding: 4em;
    min-height: 40vh;
    width: 90vw;
    max-width: 500px;
    box-sizing: border-box;
}

form{
    position: relative;
    background-color: var(--color-background-card);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 80%;
    border-radius: var(--radius);
    color: var(--color-text)
}

form .campo{
    margin: 1em 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form .campo input,
form input[type="submit"]{
    padding: 1em;
    margin-top: 1em;
    border: solid 2px var(--color-separador);
    border-radius: var(--radius);
}

form input[type="submit"]{
    color: var(--color-text-strong);
    font-weight: bold;
    margin-top: 2.5em;
    letter-spacing: .05em;;
    font-size: 1.2rem;
}

form input[type="submit"]:hover{
    cursor: pointer;
}

#login-form__invalido{
    display: none;
    position: absolute;
    bottom: 75px;
    left: 0;
    font-size: .9em;
    color: red;
}

#login-form__invalido.visible{
    display: initial;
}