main #title{
    line-height: 1.5em;
    margin-bottom: 2rem ;
    font-weight: 400;
}

.producto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.producto {
    background-color: var(--color-background-card);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    text-align: center;
    transition: all .2s ease-in-out;
}

.producto:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 25px 20px 0 var(--color-shadow-strong), 0 -1px 2px 0 var(--color-shadow-soft);
    box-shadow: 0 25px 20px 0 var(--color-shadow-strong), 0 -1px 2px 0 var(--color-shadow-soft);
}

.producto__img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.producto__info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.producto__info *{
    line-height: 1.5em;
}

.producto__titulo{
    font-weight: 400;
    font-size: 1.3em;
}

.producto__precio {
    font-size: 1.5em;
    margin-top: .8em;
}

@media screen and (max-width: 768px)
{
    .producto-grid {
        grid-template-columns: repeat(2,1fr);  
    }
}
    
@media screen and (max-width: 480px)
{
    .producto-grid {
        grid-template-columns:1fr;  
    }
}