#banner{
    background-image:  url("../img/header-bg.svg"),linear-gradient(180deg,#060852,#185b99);
    background-repeat: no-repeat;

    width: 100vw;
    height: 500px;
}

main{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

aside{
    background-color: var(--color-background-card);
    padding: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 300px;
}

aside #filtro-generos{
    margin-top: 5px;
}

aside label{
    margin-left: 5px;
    line-height: 1.5rem;
}

#lista-libros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;

}

.libro{
    width: 80%;
    max-width: 1000px;
    background-color: var(--color-background-card);
    padding: 2rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas: "imagen titulo genero"
                         "imagen descripcion descripcion";
}

.libro__imagen{
    grid-area: imagen;
    height: 150px;
    margin-right: 2rem;
}

.libro__titulo{
    grid-area: titulo;
}

.libro__genero{
    grid-area: genero;
    text-align: right;
}

.libro__descripcion{
    grid-area: descripcion;
    display: flex;
    align-items: center;
    line-height: 1.5em;
}

#filtro-generos{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:800px) {
    main{
        flex-direction: column;
        align-items: center;
    }

    aside {
        margin-bottom: 20px;
        width: 90%;
        max-width: 1000px;
    }

    .libro{
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "imagen titulo "
                             "imagen genero"
                             "imagen descripcion";
    }

    .libro__genero{
        text-align: left;
        margin: 10px 0;
    }
}