:root{
    --color-text-primary: #000;
    --color-text-inverted: #f2f2f2;
    --color-background: #f2f2f2;
    --color-background-footer: #0b246e;
    --color-background-nav: #124183;
    --color-background-card: #fff;


}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    overflow-x: hidden;
}

main{
    min-height: 89vh;
}