main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

section{
    width: 80%;
    max-width: 700px;
}

form{
    background-color: var(--color-background-card);
    border-radius: var(--radius); 
    padding: 3em;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px 0;
    box-sizing: border-box;
}

form label{
    line-height: 1.4em;
}

.input-title{
    line-height: 2em;
}

form input,
form textarea,
form select{
    width: 100%;
    padding: .5em;
    border: solid var(--color-input-outline) 1px;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="checkbox"],
form input[type="radio"]{
    width: auto;
}

form button{
    background-color: var(--color-background-nav);
    color: var(--color-text-inverted);
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    width: 100px;
    letter-spacing: .05em;
    padding: 15px;
    align-self: flex-end;
}