header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--color-background-nav);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
 
header #title{
    font-size: 1.5em;
    font-weight: bold;
}

header #title img{
    height: 30px;
    margin-right: 5px;
}

nav{
    width: auto;
    display: flex;
    gap: 10px;
}

header #title,
nav{
    display: flex;
    align-items: center;
}

header #title,
nav a{
    text-decoration: none;
    color: var(--color-text-inverted);
}