header{
    background-image:  url("../img/header-bg.svg"),linear-gradient(180deg,#060852 -21.12%,#185b99 111.37%);
    width: 100vw;
    height: 500px;
}
 
#header__main{
    width: 100vw;
    height: 50px;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
 
#header__title{
    font-size: 1.5em;
    font-weight: bold;
}

#header__title img{
    height: 30px;
    margin-right: 5px;
}

nav{
    width: auto;
    display: flex;
    gap: 10px;
}

#header__title,
nav{
    display: flex;
    align-items: center;
}

#header__title,
nav a{
    text-decoration: none;
    color: var(--color-text-inverted);
}