header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--color-background-nav);
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
 
header #title{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .05em;
}

header #title img{
    height: 28px;
    margin-right: 15px;
}

nav{
    width: auto;
    display: flex;
    gap: 10px;
}

header #title,
nav{
    display: flex;
    align-items: center;
}

header #title,
nav a{
    text-decoration: none;
    color: var(--color-text-inverted);
}

@media screen and (max-width: 800px) {
    header{
        padding: 0 5px ;
    }
    nav{
        gap: 5px;
    }
}