#banner{
    margin-top: 50px;
    background-image:  url("../img/header-bg.svg"),linear-gradient(180deg,#060852,#185b99);
    background-repeat: no-repeat;
    color: var(--color-text-inverted);
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner section{
    display: flex;
    margin-left: 32%;
    margin-right: 5%;
    box-sizing: border-box;
}

#banner img{
    height: 300px;
}

#banner h1{
    margin-left: 15%;
    margin-bottom: 50px;
}
#banner article a{
    text-decoration: none;
    color: var(--color-text-inverted)
}

#banner article p,
#banner article span,
#banner article h2{
    padding: 20px;
}

#recomendados{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

aside{
    background-color: var(--color-background-card);
    padding: 2em;
    border-radius: var(--radius);
    box-sizing: border-box;
    min-width: 300px;
}

aside #filtro-generos{
    margin-top: 5px;
}

aside label{
    margin-left: 5px;
    line-height: 1.5rem;
}

#lista-libros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;

}

.libro{
    width: 80%;
    max-width: 1000px;
    background-color: var(--color-background-card);
    padding: 2rem;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas: "imagen titulo genero"
                         "imagen descripcion descripcion";
}

.libro a{
    grid-area: imagen;
}

.libro__imagen{
    height: 150px;
    margin-right: 2rem;
}

.libro__titulo{
    grid-area: titulo;
}

.libro__genero{
    grid-area: genero;
    text-align: right;
}

.libro__descripcion{
    grid-area: descripcion;
    display: flex;
    align-items: center;
    line-height: 1.5em;
}

#filtro-generos{
    display: flex;
    flex-direction: column;
}

#resenia{
    background-color: var(--color-background-card);
    border-radius: var(--radius);
    width: 90%;
    margin: 50px 40px 50px 20px;
    padding: 50px;
    box-sizing: border-box;
    max-width: 1100px;
}

main{
    display: flex;
    flex-direction: column;

    align-items: center;
}

@media screen and (max-width:800px) {
    #recomendados{
        flex-direction: column;
        align-items: center;
    }

    aside {
        margin-bottom: 20px;
        width: 90%;
        max-width: 1000px;
    }

    .libro{
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "imagen titulo "
                             "imagen genero"
                             "imagen descripcion";
    }

    .libro__genero{
        text-align: left;
        margin: 10px 0;
    }

    #banner{
        height: 700px;
    }

    #banner section{
        margin: 0;
        padding: 5%;
        flex-direction: column;
        align-items: center;
    }

    #banner h1{
        margin-left:0;
        text-align: center;
    }
}