main{
    width: 80%;
    margin: 50px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main article a{
    display: grid;
    background-color: #f0f0f0;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1em 1fr;
    text-decoration: none;
    color: var(--color-header-background);
    grid-template-areas: "image topic"
                         "image title";
}

main article a img{
    width: 100%;
    height: 100%;
    grid-area: image;
}

main article a h4{
    grid-area: title;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

main article a span{
    grid-area: topic;
    padding: 20px;
    color: var(--color-accent);
    box-sizing: border-box;
}
