header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var( --color-background-header);
    padding: 0 20px;
    box-sizing: border-box;
}

header a{
    color: var(--color-text-inverted);
    text-decoration: none;
    display: flex;
    align-items: center;
}

header img{
    float: left;
    vertical-align: middle;
    height: 100%;
    max-width: 20%;
    margin-right: 10px;
}

header nav{
    float: right;
    display: flex;
    gap: 20px;
    height: 100%;
}